<h1>Listing datas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Stuff</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @datas.each do |datum| %>
  <tr>
    <td><%= datum.name %></td>
    <td><%= datum.stuff %></td>
    <td><%= link_to 'Show', datum %></td>
    <td><%= link_to 'Edit', edit_datum_path(datum) %></td>
    <td><%= link_to 'Destroy', datum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Datum', new_datum_path %>
