<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @datum.name %>
</p>

<p>
  <b>Stuff:</b>
  <%= @datum.stuff %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', datas_path %>
